 *{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.pricing_comntainer{
    background-color: #fff;
}
.pricing_head_container{
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}
.pricing_head{
    color: #434be6;
    font-size: 18px;
    font-weight: 800;
}
.pricing_header_container{
   padding-top: 1px;
   margin-bottom: 10px !important;
}
.pricing_header{
    color: #000;
    font-size: 34px;
    font-weight: 800;
}
.pricing_para_container{
    margin-bottom: 30px !important;
}
.pricing_para{
    color: #696b6c;
    font-size: 14px;
    font-weight: 800;
}
ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
    margin-right: 10px;
    margin-bottom: 2px;
    color: #434ce7;
    border: 1px solid #434ce7;
    border-radius: 50%;
    padding: 2px;
  }
  li{
    font-size: 14px ;
  }

  .card_Container {
    border: 1px solid #434ce7;
    border-radius: 10px !important;
    padding:"20px";
    margin:"10px" ;
    display: block;
    top: 0px;
    position: relative;
    background-color: #f2f8f9;
    text-decoration: none;
    z-index: 0;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
  
    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: white;
    }
    &:hover:before {
      transform: scale(2.15);
    }
  }
  .card_heading1{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 39px;
    font-weight: 800;
    color: #000;
    text-align-last: center;
}
.card_heading2{
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 800;
    color: #000;
    text-align-last: center;
}
.card_heading3{
    line-height: 30px;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #929191;
    text-align-last: center;
}
.Card_list{
    line-height: 30px;
    font-size: 16px;
    font-weight: 800;
    color: #929191;
}
.button_Container_box{
    margin-bottom: 20px !important;
}
.button_Container{
    text-align-last: center;
    background-color: #434ce7;
    border-radius: 10px;
    padding: 5px;
}
.button_text{
    font-size: 16px !important;
    font-weight: 800 !important;
    color: #fff !important;
}


@media only screen and (max-width: 1200px){
    .pricing_head_container{
        margin-top: 20px !important;
    }
    .pricing_head{
        font-size: 16px;
    }
    .pricing_header{
        font-size: 28px;
    }
    .pricing_para_container{
        margin-bottom: 20px !important;
    }
    .pricing_para{
        font-size: 13px;
    }
    .card_heading1{
        margin-top: 15px;
        margin-bottom: 14px;
        line-height: 24px;
        font-size: 34px;
    }
    .card_heading2{
        margin-top: 15px;
        line-height: 25px;
        font-size: 16px;
    }
    .card_heading3{
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    li{
        font-size: 12px ;
      }
      .button_text{
        font-size: 16px !important;
    }

}


@media only screen and (max-width: 767px){
    .pricing_head_container{
        margin-top: 10px !important;
    }
    .pricing_head{
        font-size: 14px;
    }
    .pricing_header{
        font-size: 24px;
    }
    .pricing_para_container{
        margin-bottom: 15px !important;
    }
    .pricing_para{
        font-size: 12px;
    }
    .card_heading1{
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 20px;
        font-size: 30px;
    }
    .card_heading2{
        margin-top: 10px;
        line-height: 20px;
        font-size: 14px;
    }
    .card_heading3{
        line-height: 20px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    li{
        font-size: 12px ;
      }
      .button_text{
        font-size: 14px !important;
    }

}
